# SPDX-License-Identifier: ISC
# scspell-id: bb236764-a0f4-11ed-a5af-80ee73e9b8e7
# Copyright (c) 2023 The DPS8M Development Team

##############################################################################

# Object files
*.o
*.ko
*.obj
*.elf

##############################################################################

# Precompiled Headers
*.gch
*.pch

##############################################################################

# Libraries
*.lib
*.a
*.la
*.lo

##############################################################################

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

##############################################################################

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

##############################################################################

# Debug files
*.dSYM/
*.su
*_objs_dbg
*_objs_dbg/*
*_objs_rel
*_objs_rel/*
.*.sw?

##############################################################################
